/*** ESSENTIAL STYLES ***/
.main-nav, .main-nav * {
    margin:			0;
    padding:		0;
    list-style:		none;
}
.main-nav {
    line-height:	1.0;
    position:		relative;
}
.main-nav ul {
    position:		absolute;
    top:			-999em;
    width:			170px; /* left offset of submenus need to match (see below) */
    z-index:		10;
}
.main-nav ul li {
    width:			100%;
    padding-right:0!important;
    border:none;
    display:block!important;
}
.main-nav ul li a{
    text-transform:none;
}
.main-nav li:hover {
    visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.main-nav li {
    display: inline-block;
    position:		relative;
}
.main-nav a {
    display:		block;
}
.main-nav li:hover ul, .main-nav li.sfHover ul {
    left:			0;
    top:			30px; /* match top ul list item height */
    z-index:		99;
}
ul.main-nav li:hover li ul, ul.main-nav li.sfHover li ul {
    top:			-999em;
}
ul.main-nav li li:hover ul, ul.main-nav li li.sfHover ul {
    left:			170px; /* match ul width */
    top:			0;
}
ul.main-nav li li:hover li ul, ul.main-nav li li.sfHover li ul {
    top:			-999em;
}
ul.main-nav li li li:hover ul, ul.main-nav li li li.sfHover ul {
    left:			170px; /* match ul width */
    top:			0;
}
#nav-bar{
    float: left;
    padding-top: 31px;
    padding-right: 15px;
}
/*** Skin ***/
.main-nav {

}
.main-nav li {
    float: left;
    margin: 0 10px
}
.main-nav li a {
    padding: 7px 10px;
    color: #fff;
    font-size: 18px;
    position: relative;
    font-weight: 500;
}

.main-nav li a:hover, .main-nav li.current-menu-item a, .main-nav li:hover > a, .main-nav li.current-menu-ancestor a, .main-nav li.current-menu-parent a,
.main-nav li.sfHover li li a:hover {
    color: #7bd44a ;
}

.main-nav li a span {
    display:block;
}

/*Second Level*/

.main-nav ul{
    border-radius: 0 5px 5px 5px;
    background: #fff;
    padding-top: 10px;
    padding: 10px;
}
.main-nav ul ul{
    background:none;
}
.main-nav li li{
    padding:0px;
    background-image:none;
    height:auto;
    margin: 0;
    border-bottom: 1px solid #d4d4d4;
}
.main-nav li li:last-child{
    border: none;
}
.main-nav li li li{

}

.main-nav li li a,
.main-nav li.sfHover li a,
.main-nav li.current-menu-item li a,
.main-nav li.current-menu-parent li a,
.main-nav li.current-menu-ancestor li a,
.main-nav li li.current-menu-item li a,
.main-nav li li.current-menu-parent li a,
/*3rd level*/
.main-nav li.sfHover li li a:hover,
.main-nav li.sfHover li li.current-menu-item a,
.main-nav li li.current-menu-parent li.current-menu-item a
{
    color: #0a3b94;
    zoom:1;
    display:block!important;
    float:none;
    text-align:left;
    padding: 5px 0;
    line-height: 1;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    font-family: 'Open Sans', 'sans-serif';
}

.main-nav li li a:hover,
.main-nav li li:hover > a,
.main-nav li.sfHover li a:hover,
.main-nav li.current-menu-item li a:hover,
.main-nav li.current-menu-parent li a:hover,
.main-nav li.current-menu-ancestor li a:hover,
.main-nav li li.current-menu-item a,
.main-nav li li.current-menu-parent a,
.main-nav li li li.current-menu-item a,
/*3rd level*/
.main-nav li.sfHover li li a {
    color:#000;
    background: none;
}

@media (max-width: 767px) {
    #nav-bar{
        float: none;
        padding-right: 0;
        padding-bottom: 30px;
    }
    .main-nav ul{
        padding-left: 20px;
        border: none;
        background: #fff;
        border-radius: 0;
    }
    .main-nav li{
        float: none;
        display: block;
        text-align: right;
        background: none;
        margin: 0;
    }
    .main-nav li a{
        padding:5px  ;
        font-family: 'Open Sans', 'sans-serif';
    }
    .main-nav li a:hover, .main-nav li.current-menu-item a, .main-nav li:hover > a, .main-nav li.current-menu-ancestor a, .main-nav li.current-menu-parent a,
    .main-nav li.sfHover li li a:hover {
        color: #0a3b94;
        background: #fff;
        display: block;
        border-radius: 0;
    }
    .main-nav li:hover ul, .main-nav li.sfHover ul{
        left: 0;
        position: relative;
        top: 0;
        width: 100%;
    }

    .main-nav li li{
        padding:0px;
        background-image:none;
        height:auto;
        margin: 0;
    }

    .main-nav li li a,
    .main-nav li.sfHover li a,
    .main-nav li.current-menu-item li a,
    .main-nav li.current-menu-parent li a,
    .main-nav li.current-menu-ancestor li a,
    .main-nav li li.current-menu-item li a,
    .main-nav li li.current-menu-parent li a,
    /*3rd level*/
    .main-nav li.sfHover li li a:hover,
    .main-nav li.sfHover li li.current-menu-item a,
    .main-nav li li.current-menu-parent li.current-menu-item a
    {
        color: #0a3b94;
        zoom:1;
        display:block!important;
        float:none;
        text-align:right;
        padding: 5px 0;
        line-height: 1;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
        font-family: 'Open Sans', 'sans-serif';
    }

    .main-nav li li a:hover,
    .main-nav li li:hover > a,
    .main-nav li.sfHover li a:hover,
    .main-nav li.current-menu-item li a:hover,
    .main-nav li.current-menu-parent li a:hover,
    .main-nav li.current-menu-ancestor li a:hover,
    .main-nav li li.current-menu-item a,
    .main-nav li li.current-menu-parent a,
    .main-nav li li li.current-menu-item a,
    /*3rd level*/
    .main-nav li.sfHover li li a {
        background: transparent;
        text-decoration: none;
        border-radius: 0;

    }
}